---
import Answer from "@/components/quiz/Asnwer";
import Layout from "@/layouts/Layout.astro";
import GuestForm from "@/components/quiz/GuestForm";
import { supabase } from "@/lib/supabase";

// import { createClient } from "@supabase/supabase-js";
// const supabase = createClient(
//   import.meta.env.SUPABASE_URL,
//   import.meta.env.SUPABASE_SERVICE_KEY,
//   {
//     auth: {
//       autoRefreshToken: false,
//       persistSession: false,
//     },
//   },
// );
const { cookies, redirect } = Astro;
const { id } = Astro.params;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");



const { data:{user}, error:err } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value,
  access_token: accessToken?.value,
});






const { data: quiz, error } = await supabase
  .from("quiz")
  .select("title,waktu,token,end_quiz")
  .eq("id", id)
  .single();

let status = "false";


let userId = user?.id || "";

if (err) {
  status = "guest"
} else {
  if (quiz) {
    const today = new Date();
    const endQuizDate = new Date(quiz.end_quiz);

    if (today <= endQuizDate) {
      status = "true";
    }
  }
}
// console.log(status)


---

<Layout title={quiz?.title || ""}>
  <h3 class="text-xl w-full bg-blue-600 text-white p-2 font-semibold">
    {quiz?.title || ""}
  </h3>
  {
    status === "true" && (
      <Answer client:only="react" id={id} time={quiz?.waktu} id_user={userId} />
    )
  }
  {status === "false" && <div>Kuis tidak tersedia</div>}
  {status === "guest" && <GuestForm client:only="react" id={id} />}
</Layout>
