---
import Navbar from "../components/Navbar.jsx";
// import { ViewTransitions } from 'astro:transitions';

import Font from "../components/Font.astro";
const { title } = Astro.props;
import "@/styles/globals.css";
import { supabase } from "../lib/supabase";
// import axios from "axios";
import DashboardNav from "../components/DashboardNav";
import { SEO } from "astro-seo";
import { Toaster } from "@/components/ui/toaster";
import RoleDialog from './../components/RoleDialog'
import { ViewTransitions } from "astro:transitions";
interface Locals {
  id: string;       // Assuming 'id' is a string
  role: string;     // Assuming 'role' is a string, adjust the type if needed
  roleUser: string;
  email:string; // Assuming 'roleUser' is a string, adjust the type if needed
 
}
const { locals } = Astro;
const {id,role,roleUser,email} = locals as Locals



const path = Astro.url.pathname;



let open = false;

const {data:checkNIP} = await supabase.from('guru').select('id_user').eq('id_user',id).single();


const {data:checkNIS} = await supabase.from('siswa').select('id_user,nisn').eq('id_user',id).single();
 
if(!checkNIS && !checkNIP){
  open = true
}
if(role === "admin"){
  open = false;
}









// const getRole = await axios.get(`${new URL("/api/user/role", Astro.url)}`)
// console.log({url:new URL("/api/user/role", Astro.url)})
// console.log(Astro.url)
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <Font />
    <SEO
      title={title}
      description="A heavily optimized description full of well-researched keywords."
      openGraph={{
        basic: {
          title,
          type: "A type.",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
      }}
      twitter={{
        creator: "@jonasmerlins1",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <body>
    <Navbar client:load data={{email}} role={role} roleUser={roleUser} path={path} />
    <main class="">
      <div class="md:p-2 p-0">
        <DashboardNav title={title} client:load roleUser={roleUser} role={role} nisn={checkNIS?.nisn}/>
      </div>
      <div class="mt-3 md:mb-0 mb-24 p-2">
        <slot />
      </div>
    </main>
    <RoleDialog client:load open={open} id={id}/>
    <Toaster client:load/>
  </body>
</html>
